Expense Tracker/.vs/Expense Tracker/FileContentIndex/merges
Expense Tracker/.vs/Expense Tracker/FileContentIndex/189e5aaa-d11d-4af6-b24f-7f82a5c5489d.vsidx
*.vsidx
Expense Tracker/.vs/Expense Tracker/FileContentIndex
