Expense Tracker/.vs/Expense Tracker/FileContentIndex
Expense Tracker/.vs/Expense Tracker/DesignTimeBuild/.dtbcache.v2
Expense Tracker/.vs/Expense Tracker/v17/.futdcache.v2
Expense Tracker/.vs/Expense Tracker/v17/.suo
Expense Tracker/Expense Tracker/obj/staticwebassets.pack.sentinel
